<!DOCTYPE html>
<html>
  <style>
  table{
    border: 2px solid black;
  }
  tr, td{
    border: 1px solid black;
    text-align: center;
  }
  </style>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.first_name %></h1>
    <p>
      <%= @request.firstname ? @request.user.first_name : @request.user.username %> closed a prayer request.
      <br>
      <%= @request.firstname ? @request.user.first_name : @request.user.username %> says:
          
          <p><%= @request.result %></p>
      </p>
        This was in response to his request:
      <p>  <%= @request.content %></p>
 
    <p>Thank you so much for praying for 
      <%= @request.firstname ? @request.user.first_name : @request.user.username %> . Praise God for everything He does!
     </p>
  </body>
  </html>